certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
Deprecated==1.2.10
idna==2.10
imutils==0.5.3
nexmo==2.5.2
numpy==1.19.2
opencv-contrib-python==4.4.0.44
opencv-python==4.4.0.44
pkg-resources==0.0.0
pycparser==2.20
PyJWT==1.7.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.10
wrapt==1.12.1
